<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../icons/brand-logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Home | NASA</title>
</head>
<body>
    <div class="container">
        <header class="flex justify-btwn align-cntr">
            <div class="brand-logo flex justify-start align-cntr">
                <img src="../icons/brand-logo.svg" alt="brand-logo">
                <span>Nasa<span id="tech">Technology Transfer</span> Program</span>
            </div>
            <nav class="navbar flex justify-arnd align-cntr">
                <a href="#">Patent Portfolio</a>
                <a href="#">Add To Wishlist</a>
                <a href="#">Log In</a>
                <a href="#"><img id="search-icon" src="../icons/search-icon.svg" alt="search-icon"></a>
                <a href="#"><img id="nasa-logo" src="../icons/nasa-logo.svg" alt="nasa-logo"></a>
            </nav>
        </header>
        <section class="search">
            <p>PATENT PORTFOLIO</p>
            <div class="pat-desc flex justify-start align-cntr">
                <div class="plane-logo">
                    <img src="../icons/plane-logo.svg" alt="plane-logo">
                </div>
                <div class="desc">
                    <h2>AEROSPACE</h2>
                    <span>The design, construction and operation of aircraft based on the scientific study or art of flight.</span>
                </div>
            </div>
            <div class="search-box flex justify-end align-cntr">
                <input type="text" name="tech-solution" id="tech-solution" placeholder="Enter Technology-Driven Solutions">
                <a href="#"><span>GO</span></a>
            </div>
        </section>
        <hr style="color: white; size: 20px; border-style: solid;">
        <main>
            <div class="main-box grid g-col">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="../assets/img/tech-1.png" alt="tech-1">
                    </div>
                    <div class="blog-detail">
                        <h2>New Concepts in Film Cooling for Turbine Blades</h2>
                        <p>In one of NASA Glenn's innovations, a shaped recess can be formed on a surface associated with fluid flow. Often V-shaped, this shaped recess can be configured to create or induce fluid effects, temperature effects, or shedding effects. For example, the shaped recess can be…</p>
                        <div class="btns">
                            <button id="read-btn">Read More</button>
                            <button id="wish-btn">+ Add to Wishlist</button>
                        </div>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="../assets/img/tech-2.png" alt="tech-1">
                    </div>
                    <div class="blog-detail">
                        <h2>New Concepts in Film Cooling for Turbine Blades</h2>
                        <p>In one of NASA Glenn's innovations, a shaped recess can be formed on a surface associated with fluid flow. Often V-shaped, this shaped recess can be configured to create or induce fluid effects, temperature effects, or shedding effects. For example, the shaped recess can be…</p>
                        <div class="btns">
                            <button id="read-btn">Read More</button>
                            <button id="wish-btn">+ Add to Wishlist</button>
                        </div>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="../assets/img/tech-3.png" alt="tech-1">
                    </div>
                    <div class="blog-detail">
                        <h2>New Concepts in Film Cooling for Turbine Blades</h2>
                        <p>In one of NASA Glenn's innovations, a shaped recess can be formed on a surface associated with fluid flow. Often V-shaped, this shaped recess can be configured to create or induce fluid effects, temperature effects, or shedding effects. For example, the shaped recess can be…</p>
                        <div class="btns">
                            <button id="read-btn">Read More</button>
                            <button id="wish-btn">+ Add to Wishlist</button>
                        </div>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="../assets/img/tech-4.png" alt="tech-1">
                    </div>
                    <div class="blog-detail">
                        <h2>New Concepts in Film Cooling for Turbine Blades</h2>
                        <p>In one of NASA Glenn's innovations, a shaped recess can be formed on a surface associated with fluid flow. Often V-shaped, this shaped recess can be configured to create or induce fluid effects, temperature effects, or shedding effects. For example, the shaped recess can be…</p>
                        <div class="btns">
                            <button id="read-btn">Read More</button>
                            <button id="wish-btn">+ Add to Wishlist</button>
                        </div>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="../assets/img/tech-5.png" alt="tech-1">
                    </div>
                    <div class="blog-detail">
                        <h2>New Concepts in Film Cooling for Turbine Blades</h2>
                        <p>In one of NASA Glenn's innovations, a shaped recess can be formed on a surface associated with fluid flow. Often V-shaped, this shaped recess can be configured to create or induce fluid effects, temperature effects, or shedding effects. For example, the shaped recess can be…</p>
                        <div class="btns">
                            <button id="read-btn">Read More</button>
                            <button id="wish-btn">+ Add to Wishlist</button>
                        </div>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="../assets/img/tech-6.png" alt="tech-1">
                    </div>
                    <div class="blog-detail">
                        <h2>New Concepts in Film Cooling for Turbine Blades</h2>
                        <p>In one of NASA Glenn's innovations, a shaped recess can be formed on a surface associated with fluid flow. Often V-shaped, this shaped recess can be configured to create or induce fluid effects, temperature effects, or shedding effects. For example, the shaped recess can be…</p>
                        <div class="btns">
                            <button id="read-btn">Read More</button>
                            <button id="wish-btn">+ Add to Wishlist</button>
                        </div>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="../assets/img/tech-7.png" alt="tech-1">
                    </div>
                    <div class="blog-detail">
                        <h2>New Concepts in Film Cooling for Turbine Blades</h2>
                        <p>In one of NASA Glenn's innovations, a shaped recess can be formed on a surface associated with fluid flow. Often V-shaped, this shaped recess can be configured to create or induce fluid effects, temperature effects, or shedding effects. For example, the shaped recess can be…</p>
                        <div class="btns">
                            <button id="read-btn">Read More</button>
                            <button id="wish-btn">+ Add to Wishlist</button>
                        </div>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="../assets/img/tech-8.png" alt="tech-1">
                    </div>
                    <div class="blog-detail">
                        <h2>New Concepts in Film Cooling for Turbine Blades</h2>
                        <p>In one of NASA Glenn's innovations, a shaped recess can be formed on a surface associated with fluid flow. Often V-shaped, this shaped recess can be configured to create or induce fluid effects, temperature effects, or shedding effects. For example, the shaped recess can be…</p>
                        <div class="btns">
                            <button id="read-btn">Read More</button>
                            <button id="wish-btn">+ Add to Wishlist</button>
                        </div>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="../assets/img/tech-9.png" alt="tech-1">
                    </div>
                    <div class="blog-detail">
                        <h2>New Concepts in Film Cooling for Turbine Blades</h2>
                        <p>In one of NASA Glenn's innovations, a shaped recess can be formed on a surface associated with fluid flow. Often V-shaped, this shaped recess can be configured to create or induce fluid effects, temperature effects, or shedding effects. For example, the shaped recess can be…</p>
                        <div class="btns">
                            <button id="read-btn">Read More</button>
                            <button id="wish-btn">+ Add to Wishlist</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pat-btn">
                <button id="patent-btn">View more patents</button>
            </div>
        </main>
    </div>
        <footer>
            <img id="foot-nasa-logo" src="../icons/nasa-logo.svg" alt="nasa-logo">
            <p>Stay up to date, follow NASA's Technology Transfer Program on</p>
            <p id="contact">Contact</p>
            <p>E-mail : hello@nasa.com | Hotline: +1 131 138 138</p>
            <hr>
            <p>NASA - &copy; 2022. ALL RIGHTS RESERVED.</p>
        </footer>
    <script src="../js/script.js"></script>
</body>
</html>